<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158337928724-o9k5sc8sd1177pbe9ql1hep49kb5ace6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158337928724-o9k5sc8sd1177pbe9ql1hep49kb5ace6</string>
	<key>API_KEY</key>
	<string>AIzaSyDMY4X0l4suUj7ASSQvS7sm83bUVpuU8yA</string>
	<key>GCM_SENDER_ID</key>
	<string>158337928724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tys.TwitterSwiftUIYouTube</string>
	<key>PROJECT_ID</key>
	<string>letstepup-c896d</string>
	<key>STORAGE_BUCKET</key>
	<string>letstepup-c896d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158337928724:ios:fcec5db475e90500c2e101</string>
</dict>
</plist>